@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 220 13% 91%; /* Default border color */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --secondary: 240 4.8% 95.9%;
  --accent: 240 3.7% 15.9%;
  --muted: 240 5% 96.7%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border: 240 5% 26%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --secondary: 240 3.7% 15.9%;
    --accent: 240 5% 26%;
    --muted: 240 3.7% 15.9%;
  }
}

html {
  @apply bg-background text-foreground;
}
